B:/Unity_Projects/Zombie_Ai/Assets/_Zombie_ai_Fsm/_External_Assets/mixamo.com/Romero_Ch10_nonPBR.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
.fbx filter=lfs diff=lfs merge=lfs -text
